<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>themeid</key>
		<string>-1</string>
		<key>themever</key>
		<string>1.0</string>
		<key>downloadurl</key>
		<string></string>
		<key>coverurl</key>
		<string>default</string>
		<key>title</key>
		<string>default</string>
		<key>name</key>
		<string>default</string>
		<key>size</key>
		<string></string>
	</dict>
	<dict>
		<key>themeid</key>
		<string>-2</string>
		<key>themever</key>
		<string>1.0</string>
		<key>downloadurl</key>
		<string></string>
		<key>coverurl</key>
		<string>theme_4</string>
		<key>title</key>
		<string>purple_hologram</string>
		<key>name</key>
		<string>purple_hologram</string>
		<key>size</key>
		<string></string>
	</dict>
</array>
</plist>
