<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>people</key>
	<array>
		<string>😀</string>
		<string>😃</string>
		<string>😄</string>
		<string>😁</string>
		<string>😆</string>
		<string>😅</string>
		<string>😂</string>
		<string>☺️</string>
		<string>😊</string>
		<string>😇</string>
		<string>🙂</string>
		<string>🙃</string>
		<string>😉</string>
		<string>😌</string>
		<string>😍</string>
		<string>😘</string>
		<string>😗</string>
		<string>😙</string>
		<string>😚</string>
		<string>😋</string>
		<string>😜</string>
		<string>😝</string>
		<string>😛</string>
		<string>🤑</string>
		<string>🤗</string>
		<string>🤓</string>
		<string>😎</string>
		<string>😏</string>
		<string>😒</string>
		<string>😞</string>
		<string>😔</string>
		<string>😟</string>
		<string>😕</string>
		<string>🙁</string>
		<string>☹️</string>
		<string>😣</string>
		<string>😖</string>
		<string>😫</string>
		<string>😩</string>
		<string>😤</string>
		<string>😠</string>
		<string>😡</string>
		<string>😶</string>
		<string>😐</string>
		<string>😑</string>
		<string>😯</string>
		<string>😦</string>
		<string>😧</string>
		<string>😮</string>
		<string>😲</string>
		<string>😵</string>
		<string>😳</string>
		<string>😱</string>
		<string>😨</string>
		<string>😰</string>
		<string>😢</string>
		<string>😥</string>
		<string>😭</string>
		<string>😓</string>
		<string>😪</string>
		<string>😴</string>
		<string>🙄</string>
		<string>🤔</string>
		<string>😬</string>
		<string>🤐</string>
		<string>😷</string>
		<string>🤒</string>
		<string>🤕</string>
		<string>😈</string>
		<string>👿</string>
		<string>👹</string>
		<string>👺</string>
		<string>💩</string>
		<string>👻</string>
		<string>💀</string>
		<string>☠️</string>
		<string>👽</string>
		<string>👾</string>
		<string>🤖</string>
		<string>🎃</string>
		<string>😺</string>
		<string>😸</string>
		<string>😹</string>
		<string>😻</string>
		<string>😼</string>
		<string>😽</string>
		<string>🙀</string>
		<string>😿</string>
		<string>😾</string>
		<string>👐</string>
		<string>🙌</string>
		<string>👏</string>
		<string>🙏</string>
		<string>👍</string>
		<string>👎</string>
		<string>👊</string>
		<string>✊</string>
		<string>✌️</string>
		<string>🤘</string>
		<string>👌</string>
		<string>👈</string>
		<string>👉</string>
		<string>👆</string>
		<string>👇</string>
		<string>☝️</string>
		<string>✋</string>
		<string>🖐️</string>
		<string>🖖</string>
		<string>👋</string>
		<string>💪</string>
		<string>🖕</string>
		<string>✍️</string>
		<string>💅</string>
		<string>💍</string>
		<string>💄</string>
		<string>💋</string>
		<string>👄</string>
		<string>👅</string>
		<string>👂</string>
		<string>👃</string>
		<string>👣</string>
		<string>👁️</string>
		<string>👀</string>
		<string>🗣️</string>
		<string>👤</string>
		<string>👥</string>
		<string>👶</string>
		<string>👦</string>
		<string>👧</string>
		<string>👨</string>
		<string>👩</string>
		<string>👱</string>
		<string>👴</string>
		<string>👵</string>
		<string>👲</string>
		<string>👳</string>
		<string>👮</string>
		<string>👷</string>
		<string>💂</string>
		<string>🕵️</string>
		<string>🎅</string>
		<string>👸</string>
		<string>👰</string>
		<string>👼</string>
		<string>🙇</string>
		<string>💁</string>
		<string>🙅</string>
		<string>🙆</string>
		<string>🙋</string>
		<string>🙎</string>
		<string>🙍</string>
		<string>💇</string>
		<string>💆</string>
		<string>🕴️</string>
		<string>💃</string>
		<string>👯</string>
		<string>🚶</string>
		<string>🏃</string>
		<string>👫</string>
		<string>👭</string>
		<string>👬</string>
		<string>💑</string>
		<string>👩‍❤️‍👩</string>
		<string>👨‍❤️‍👨</string>
		<string>💏</string>
		<string>👩‍❤️‍💋‍👩</string>
		<string>👨‍❤️‍💋‍👨</string>
		<string>👪</string>
		<string>👨‍👩‍👧</string>
		<string>👨‍👩‍👧‍👦</string>
		<string>👨‍👩‍👦‍👦</string>
		<string>👨‍👩‍👧‍👧</string>
		<string>👩‍👩‍👦</string>
		<string>👩‍👩‍👧</string>
		<string>👩‍👩‍👧‍👦</string>
		<string>👩‍👩‍👦‍👦</string>
		<string>👩‍👩‍👧‍👧</string>
		<string>👨‍👨‍👦</string>
		<string>👨‍👨‍👧</string>
		<string>👨‍👨‍👧‍👦</string>
		<string>👨‍👨‍👦‍👦</string>
		<string>👨‍👨‍👧‍👧</string>
		<string>👚</string>
		<string>👕</string>
		<string>👖</string>
		<string>👔</string>
		<string>👗</string>
		<string>👙</string>
		<string>👘</string>
		<string>👠</string>
		<string>👡</string>
		<string>👢</string>
		<string>👞</string>
		<string>👟</string>
		<string>👒</string>
		<string>🎩</string>
		<string>🎓</string>
		<string>👑</string>
		<string>⛑️</string>
		<string>🎒</string>
		<string>👝</string>
		<string>👛</string>
		<string>👜</string>
		<string>💼</string>
		<string>👓</string>
		<string>🕶️</string>
		<string>🌂</string>
		<string>☂️</string>
	</array>
	<key>nature</key>
	<array>
		<string>🐶</string>
		<string>🐱</string>
		<string>🐭</string>
		<string>🐹</string>
		<string>🐰</string>
		<string>🐻</string>
		<string>🐼</string>
		<string>🐨</string>
		<string>🐯</string>
		<string>🦁</string>
		<string>🐮</string>
		<string>🐷</string>
		<string>🐽</string>
		<string>🐸</string>
		<string>🐵</string>
		<string>🙈</string>
		<string>🙉</string>
		<string>🙊</string>
		<string>🐒</string>
		<string>🐔</string>
		<string>🐧</string>
		<string>🐦</string>
		<string>🐤</string>
		<string>🐣</string>
		<string>🐥</string>
		<string>🐺</string>
		<string>🐗</string>
		<string>🐴</string>
		<string>🦄</string>
		<string>🐝</string>
		<string>🐛</string>
		<string>🐌</string>
		<string>🐚</string>
		<string>🐞</string>
		<string>🐜</string>
		<string>🕷️</string>
		<string>🕸️</string>
		<string>🐢</string>
		<string>🐍</string>
		<string>🦂</string>
		<string>🦀</string>
		<string>🐙</string>
		<string>🐠</string>
		<string>🐟</string>
		<string>🐡</string>
		<string>🐬</string>
		<string>🐳</string>
		<string>🐋</string>
		<string>🐊</string>
		<string>🐆</string>
		<string>🐅</string>
		<string>🐃</string>
		<string>🐂</string>
		<string>🐄</string>
		<string>🐪</string>
		<string>🐫</string>
		<string>🐘</string>
		<string>🐎</string>
		<string>🐖</string>
		<string>🐐</string>
		<string>🐏</string>
		<string>🐑</string>
		<string>🐕</string>
		<string>🐩</string>
		<string>🐈</string>
		<string>🐓</string>
		<string>🦃</string>
		<string>🕊️</string>
		<string>🐇</string>
		<string>🐁</string>
		<string>🐀</string>
		<string>🐿️</string>
		<string>🐾</string>
		<string>🐉</string>
		<string>🐲</string>
		<string>🌵</string>
		<string>🎄</string>
		<string>🌲</string>
		<string>🌳</string>
		<string>🌴</string>
		<string>🌱</string>
		<string>🌿</string>
		<string>☘️</string>
		<string>🍀</string>
		<string>🎍</string>
		<string>🎋</string>
		<string>🍃</string>
		<string>🍂</string>
		<string>🍁</string>
		<string>🍄</string>
		<string>🌾</string>
		<string>💐</string>
		<string>🌷</string>
		<string>🌹</string>
		<string>🌻</string>
		<string>🌼</string>
		<string>🌸</string>
		<string>🌺</string>
		<string>🌎</string>
		<string>🌍</string>
		<string>🌏</string>
		<string>🌕</string>
		<string>🌖</string>
		<string>🌗</string>
		<string>🌘</string>
		<string>🌑</string>
		<string>🌒</string>
		<string>🌓</string>
		<string>🌔</string>
		<string>🌚</string>
		<string>🌝</string>
		<string>🌞</string>
		<string>🌛</string>
		<string>🌜</string>
		<string>🌙</string>
		<string>💫</string>
		<string>⭐️</string>
		<string>🌟</string>
		<string>✨</string>
		<string>⚡️</string>
		<string>🔥</string>
		<string>💥</string>
		<string>☄️</string>
		<string>☀️</string>
		<string>🌤️</string>
		<string>⛅️</string>
		<string>🌥️</string>
		<string>🌦️</string>
		<string>🌈</string>
		<string>☁️</string>
		<string>🌧️</string>
		<string>⛈️</string>
		<string>🌩️</string>
		<string>🌨️</string>
		<string>☃️</string>
		<string>⛄️</string>
		<string>❄️</string>
		<string>🌬️</string>
		<string>💨</string>
		<string>🌪️</string>
		<string>🌫️</string>
		<string>🌊</string>
		<string>💧</string>
		<string>💦</string>
		<string>☔️</string>
	</array>
	<key>objects&amp;symbols</key>
	<array>
		<string>❤️</string>
		<string>💛</string>
		<string>💚</string>
		<string>💙</string>
		<string>💜</string>
		<string>💔</string>
		<string>❣️</string>
		<string>💕</string>
		<string>💞</string>
		<string>💓</string>
		<string>💗</string>
		<string>💖</string>
		<string>💘</string>
		<string>💝</string>
		<string>💟</string>
		<string>☮️</string>
		<string>✝️</string>
		<string>☪️</string>
		<string>🕉️</string>
		<string>☸️</string>
		<string>✡️</string>
		<string>🔯</string>
		<string>🕎</string>
		<string>☯️</string>
		<string>☦️</string>
		<string>🛐</string>
		<string>⛎</string>
		<string>♈️</string>
		<string>♉️</string>
		<string>♊️</string>
		<string>♋️</string>
		<string>♌️</string>
		<string>♍️</string>
		<string>♎️</string>
		<string>♏️</string>
		<string>♐️</string>
		<string>♑️</string>
		<string>♒️</string>
		<string>♓️</string>
		<string>🆔</string>
		<string>⚛️</string>
		<string>🉑</string>
		<string>☢️</string>
		<string>☣️</string>
		<string>📴</string>
		<string>📳</string>
		<string>🈶</string>
		<string>🈚️</string>
		<string>🈸</string>
		<string>🈺</string>
		<string>🈷️</string>
		<string>✴️</string>
		<string>🆚</string>
		<string>💮</string>
		<string>🉐</string>
		<string>㊙️</string>
		<string>㊗️</string>
		<string>🈴</string>
		<string>🈵</string>
		<string>🈹</string>
		<string>🈲</string>
		<string>🅰️</string>
		<string>🅱️</string>
		<string>🆎</string>
		<string>🆑</string>
		<string>🅾️</string>
		<string>🆘</string>
		<string>❌</string>
		<string>⭕️</string>
		<string>⛔️</string>
		<string>📛</string>
		<string>🚫</string>
		<string>💯</string>
		<string>💢</string>
		<string>♨️</string>
		<string>🚷</string>
		<string>🚯</string>
		<string>🚳</string>
		<string>🚱</string>
		<string>🔞</string>
		<string>📵</string>
		<string>🚭</string>
		<string>❗️</string>
		<string>❕</string>
		<string>❓</string>
		<string>❔</string>
		<string>‼️</string>
		<string>⁉️</string>
		<string>🔅</string>
		<string>🔆</string>
		<string>〽️</string>
		<string>⚠️</string>
		<string>🚸</string>
		<string>🔱</string>
		<string>⚜️</string>
		<string>🔰</string>
		<string>♻️</string>
		<string>✅</string>
		<string>🈯️</string>
		<string>💹</string>
		<string>❇️</string>
		<string>✳️</string>
		<string>❎</string>
		<string>🌐</string>
		<string>💠</string>
		<string>Ⓜ️</string>
		<string>🌀</string>
		<string>💤</string>
		<string>🏧</string>
		<string>🚾</string>
		<string>♿️</string>
		<string>🅿️</string>
		<string>🈳</string>
		<string>🈂️</string>
		<string>🛂</string>
		<string>🛃</string>
		<string>🛄</string>
		<string>🛅</string>
		<string>🚹</string>
		<string>🚺</string>
		<string>🚼</string>
		<string>🚻</string>
		<string>🚮</string>
		<string>🎦</string>
		<string>📶</string>
		<string>🈁</string>
		<string>🔣</string>
		<string>ℹ️</string>
		<string>🔤</string>
		<string>🔡</string>
		<string>🔠</string>
		<string>🆖</string>
		<string>🆗</string>
		<string>🆙</string>
		<string>🆒</string>
		<string>🆕</string>
		<string>🆓</string>
		<string>0️⃣</string>
		<string>1️⃣</string>
		<string>2️⃣</string>
		<string>3️⃣</string>
		<string>4️⃣</string>
		<string>5️⃣</string>
		<string>6️⃣</string>
		<string>7️⃣</string>
		<string>8️⃣</string>
		<string>9️⃣</string>
		<string>🔟</string>
		<string>🔢</string>
		<string>#️⃣</string>
		<string>*️⃣</string>
		<string>▶️</string>
		<string>⏸️</string>
		<string>⏯️</string>
		<string>⏹️</string>
		<string>⏺️</string>
		<string>⏭️</string>
		<string>⏮️</string>
		<string>⏩</string>
		<string>⏪</string>
		<string>⏫</string>
		<string>⏬</string>
		<string>◀️</string>
		<string>🔼</string>
		<string>🔽</string>
		<string>➡️</string>
		<string>⬅️</string>
		<string>⬆️</string>
		<string>⬇️</string>
		<string>↗️</string>
		<string>↘️</string>
		<string>↙️</string>
		<string>↖️</string>
		<string>↕️</string>
		<string>↔️</string>
		<string>↪️</string>
		<string>↩️</string>
		<string>⤴️</string>
		<string>⤵️</string>
		<string>🔀</string>
		<string>🔁</string>
		<string>🔂</string>
		<string>🔄</string>
		<string>🔃</string>
		<string>🎵</string>
		<string>🎶</string>
		<string>➕</string>
		<string>➖</string>
		<string>➗</string>
		<string>✖️</string>
		<string>💲</string>
		<string>💱</string>
		<string>™️</string>
		<string>©️</string>
		<string>®️</string>
		<string>〰️</string>
		<string>➰</string>
		<string>➿</string>
		<string>🔚</string>
		<string>🔙</string>
		<string>🔛</string>
		<string>🔝</string>
		<string>🔜</string>
		<string>✔️</string>
		<string>☑️</string>
		<string>🔘</string>
		<string>⚪️</string>
		<string>⚫️</string>
		<string>🔴</string>
		<string>🔵</string>
		<string>🔺</string>
		<string>🔻</string>
		<string>🔸</string>
		<string>🔹</string>
		<string>🔶</string>
		<string>🔷</string>
		<string>🔳</string>
		<string>🔲</string>
		<string>▪️</string>
		<string>▫️</string>
		<string>◾️</string>
		<string>◽️</string>
		<string>◼️</string>
		<string>◻️</string>
		<string>⬛️</string>
		<string>⬜️</string>
		<string>🔈</string>
		<string>🔇</string>
		<string>🔉</string>
		<string>🔊</string>
		<string>🔔</string>
		<string>🔕</string>
		<string>📣</string>
		<string>📢</string>
		<string>👁‍🗨</string>
		<string>🗨️</string>
		<string>💬</string>
		<string>💭</string>
		<string>🗯️</string>
		<string>♠️</string>
		<string>♣️</string>
		<string>♥️</string>
		<string>♦️</string>
		<string>🃏</string>
		<string>🎴</string>
		<string>🀄️</string>
		<string>🕐</string>
		<string>🕑</string>
		<string>🕒</string>
		<string>🕓</string>
		<string>🕔</string>
		<string>🕕</string>
		<string>🕖</string>
		<string>🕗</string>
		<string>🕘</string>
		<string>🕙</string>
		<string>🕚</string>
		<string>🕛</string>
		<string>🕜</string>
		<string>🕝</string>
		<string>🕞</string>
		<string>🕟</string>
		<string>🕠</string>
		<string>🕡</string>
		<string>🕢</string>
		<string>🕣</string>
		<string>🕤</string>
		<string>🕥</string>
		<string>🕦</string>
		<string>🕧</string>
	</array>
	<key>food&amp;drinks</key>
	<array>
		<string>🍏</string>
		<string>🍎</string>
		<string>🍐</string>
		<string>🍊</string>
		<string>🍋</string>
		<string>🍌</string>
		<string>🍉</string>
		<string>🍇</string>
		<string>🍓</string>
		<string>🍈</string>
		<string>🍒</string>
		<string>🍑</string>
		<string>🍍</string>
		<string>🍅</string>
		<string>🍆</string>
		<string>🌽</string>
		<string>🌶️</string>
		<string>🍠</string>
		<string>🌰</string>
		<string>🍯</string>
		<string>🍞</string>
		<string>🧀</string>
		<string>🍳</string>
		<string>🍤</string>
		<string>🍗</string>
		<string>🍖</string>
		<string>🍕</string>
		<string>🌭</string>
		<string>🍔</string>
		<string>🍟</string>
		<string>🌮</string>
		<string>🌯</string>
		<string>🍝</string>
		<string>🍜</string>
		<string>🍲</string>
		<string>🍥</string>
		<string>🍣</string>
		<string>🍱</string>
		<string>🍛</string>
		<string>🍙</string>
		<string>🍚</string>
		<string>🍘</string>
		<string>🍢</string>
		<string>🍡</string>
		<string>🍧</string>
		<string>🍨</string>
		<string>🍦</string>
		<string>🍰</string>
		<string>🎂</string>
		<string>🍮</string>
		<string>🍭</string>
		<string>🍬</string>
		<string>🍫</string>
		<string>🍿</string>
		<string>🍩</string>
		<string>🍪</string>
		<string>🍼</string>
		<string>☕️</string>
		<string>🍵</string>
		<string>🍶</string>
		<string>🍺</string>
		<string>🍻</string>
		<string>🍷</string>
		<string>🍸</string>
		<string>🍹</string>
		<string>🍾</string>
		<string>🍴</string>
		<string>🍽️</string>
	</array>
	<key>activity</key>
	<array>
		<string>⚽️</string>
		<string>🏀</string>
		<string>🏈</string>
		<string>⚾️</string>
		<string>🎾</string>
		<string>🏐</string>
		<string>🏉</string>
		<string>🎱</string>
		<string>🏓</string>
		<string>🏸</string>
		<string>🏒</string>
		<string>🏑</string>
		<string>🏏</string>
		<string>⛳️</string>
		<string>🏹</string>
		<string>🎣</string>
		<string>⛸️</string>
		<string>🎿</string>
		<string>⛷️</string>
		<string>🏂</string>
		<string>🏋</string>
		<string>⛹</string>
		<string>🏌️</string>
		<string>🏄</string>
		<string>🏊</string>
		<string>🚣</string>
		<string>🏇</string>
		<string>🚴</string>
		<string>🚵</string>
		<string>🎽</string>
		<string>🏅</string>
		<string>🎖️</string>
		<string>🏆</string>
		<string>🏵️</string>
		<string>🎗️</string>
		<string>🎫</string>
		<string>🎟️</string>
		<string>🎪</string>
		<string>🎭</string>
		<string>🎨</string>
		<string>🎬</string>
		<string>🎤</string>
		<string>🎧</string>
		<string>🎼</string>
		<string>🎹</string>
		<string>🎷</string>
		<string>🎺</string>
		<string>🎸</string>
		<string>🎻</string>
		<string>🎲</string>
		<string>🎯</string>
		<string>🎳</string>
		<string>🎮</string>
		<string>🎰</string>
	</array>
	<key>flags</key>
	<array>
		<string>🏳️</string>
		<string>🏴</string>
		<string>🏁</string>
		<string>🚩</string>
		<string>🇩🇿</string>
		<string>🇦🇫</string>
		<string>🇦🇽</string>
		<string>🇦🇱</string>
		<string>🇦🇸</string>
		<string>🇦🇩</string>
		<string>🇦🇴</string>
		<string>🇦🇮</string>
		<string>🇦🇶</string>
		<string>🇦🇬</string>
		<string>🇦🇷</string>
		<string>🇦🇲</string>
		<string>🇦🇼</string>
		<string>🇦🇺</string>
		<string>🇦🇹</string>
		<string>🇦🇿</string>
		<string>🇧🇸</string>
		<string>🇧🇭</string>
		<string>🇧🇩</string>
		<string>🇧🇧</string>
		<string>🇧🇾</string>
		<string>🇧🇪</string>
		<string>🇧🇿</string>
		<string>🇧🇯</string>
		<string>🇧🇲</string>
		<string>🇧🇹</string>
		<string>🇧🇴</string>
		<string>🇧🇦</string>
		<string>🇧🇼</string>
		<string>🇧🇷</string>
		<string>🇮🇴</string>
		<string>🇻🇬</string>
		<string>🇧🇳</string>
		<string>🇧🇬</string>
		<string>🇧🇫</string>
		<string>🇧🇮</string>
		<string>🇰🇭</string>
		<string>🇨🇲</string>
		<string>🇨🇦</string>
		<string>🇮🇨</string>
		<string>🇨🇻</string>
		<string>🇧🇶</string>
		<string>🇰🇾</string>
		<string>🇨🇫</string>
		<string>🇹🇩</string>
		<string>🇨🇱</string>
		<string>🇨🇳</string>
		<string>🇨🇽</string>
		<string>🇨🇨</string>
		<string>🇨🇴</string>
		<string>🇰🇲</string>
		<string>🇨🇬</string>
		<string>🇨🇩</string>
		<string>🇨🇰</string>
		<string>🇨🇷</string>
		<string>🇨🇮</string>
		<string>🇭🇷</string>
		<string>🇨🇺</string>
		<string>🇨🇼</string>
		<string>🇨🇾</string>
		<string>🇨🇿</string>
		<string>🇩🇰</string>
		<string>🇩🇯</string>
		<string>🇩🇲</string>
		<string>🇩🇴</string>
		<string>🇪🇨</string>
		<string>🇪🇬</string>
		<string>🇸🇻</string>
		<string>🇬🇶</string>
		<string>🇪🇷</string>
		<string>🇪🇪</string>
		<string>🇪🇹</string>
		<string>🇪🇺</string>
		<string>🇫🇰</string>
		<string>🇫🇴</string>
		<string>🇫🇯</string>
		<string>🇫🇮</string>
		<string>🇫🇷</string>
		<string>🇬🇫</string>
		<string>🇵🇫</string>
		<string>🇹🇫</string>
		<string>🇬🇦</string>
		<string>🇬🇲</string>
		<string>🇬🇪</string>
		<string>🇩🇪</string>
		<string>🇬🇭</string>
		<string>🇬🇮</string>
		<string>🇬🇷</string>
		<string>🇬🇱</string>
		<string>🇬🇩</string>
		<string>🇬🇵</string>
		<string>🇬🇺</string>
		<string>🇬🇹</string>
		<string>🇬🇬</string>
		<string>🇬🇳</string>
		<string>🇬🇼</string>
		<string>🇬🇾</string>
		<string>🇭🇹</string>
		<string>🇭🇳</string>
		<string>🇭🇰</string>
		<string>🇭🇺</string>
		<string>🇮🇸</string>
		<string>🇮🇳</string>
		<string>🇮🇩</string>
		<string>🇮🇷</string>
		<string>🇮🇶</string>
		<string>🇮🇪</string>
		<string>🇮🇲</string>
		<string>🇮🇱</string>
		<string>🇮🇹</string>
		<string>🇯🇲</string>
		<string>🇯🇵</string>
		<string>🎌</string>
		<string>🇯🇪</string>
		<string>🇯🇴</string>
		<string>🇰🇿</string>
		<string>🇰🇪</string>
		<string>🇰🇮</string>
		<string>🇽🇰</string>
		<string>🇰🇼</string>
		<string>🇰🇬</string>
		<string>🇱🇦</string>
		<string>🇱🇻</string>
		<string>🇱🇧</string>
		<string>🇱🇸</string>
		<string>🇱🇷</string>
		<string>🇱🇾</string>
		<string>🇱🇮</string>
		<string>🇱🇹</string>
		<string>🇱🇺</string>
		<string>🇲🇴</string>
		<string>🇲🇰</string>
		<string>🇲🇬</string>
		<string>🇲🇼</string>
		<string>🇲🇾</string>
		<string>🇲🇻</string>
		<string>🇲🇱</string>
		<string>🇲🇹</string>
		<string>🇲🇭</string>
		<string>🇲🇶</string>
		<string>🇲🇷</string>
		<string>🇲🇺</string>
		<string>🇾🇹</string>
		<string>🇲🇽</string>
		<string>🇫🇲</string>
		<string>🇲🇩</string>
		<string>🇲🇨</string>
		<string>🇲🇳</string>
		<string>🇲🇪</string>
		<string>🇲🇸</string>
		<string>🇲🇦</string>
		<string>🇲🇿</string>
		<string>🇲🇲</string>
		<string>🇳🇦</string>
		<string>🇳🇷</string>
		<string>🇳🇵</string>
		<string>🇳🇱</string>
		<string>🇳🇨</string>
		<string>🇳🇿</string>
		<string>🇳🇮</string>
		<string>🇳🇪</string>
		<string>🇳🇬</string>
		<string>🇳🇺</string>
		<string>🇳🇫</string>
		<string>🇰🇵</string>
		<string>🇲🇵</string>
		<string>🇳🇴</string>
		<string>🇴🇲</string>
		<string>🇵🇰</string>
		<string>🇵🇼</string>
		<string>🇵🇸</string>
		<string>🇵🇦</string>
		<string>🇵🇬</string>
		<string>🇵🇾</string>
		<string>🇵🇪</string>
		<string>🇵🇭</string>
		<string>🇵🇳</string>
		<string>🇵🇱</string>
		<string>🇵🇹</string>
		<string>🇵🇷</string>
		<string>🇶🇦</string>
		<string>🇷🇪</string>
		<string>🇷🇴</string>
		<string>🇷🇺</string>
		<string>🇷🇼</string>
		<string>🇼🇸</string>
		<string>🇸🇲</string>
		<string>🇸🇹</string>
		<string>🇸🇦</string>
		<string>🇸🇳</string>
		<string>🇷🇸</string>
		<string>🇸🇨</string>
		<string>🇸🇱</string>
		<string>🇸🇬</string>
		<string>🇸🇽</string>
		<string>🇸🇰</string>
		<string>🇸🇮</string>
		<string>🇬🇸</string>
		<string>🇸🇧</string>
		<string>🇸🇴</string>
		<string>🇿🇦</string>
		<string>🇰🇷</string>
		<string>🇸🇸</string>
		<string>🇪🇸</string>
		<string>🇱🇰</string>
		<string>🇧🇱</string>
		<string>🇸🇭</string>
		<string>🇰🇳</string>
		<string>🇱🇨</string>
		<string>🇵🇲</string>
		<string>🇻🇨</string>
		<string>🇸🇩</string>
		<string>🇸🇷</string>
		<string>🇸🇿</string>
		<string>🇸🇪</string>
		<string>🇨🇭</string>
		<string>🇸🇾</string>
		<string>🇹🇼</string>
		<string>🇹🇯</string>
		<string>🇹🇿</string>
		<string>🇹🇭</string>
		<string>🇹🇱</string>
		<string>🇹🇬</string>
		<string>🇹🇰</string>
		<string>🇹🇴</string>
		<string>🇹🇹</string>
		<string>🇹🇳</string>
		<string>🇹🇷</string>
		<string>🇹🇲</string>
		<string>🇹🇨</string>
		<string>🇹🇻</string>
		<string>🇻🇮</string>
		<string>🇺🇬</string>
		<string>🇺🇦</string>
		<string>🇦🇪</string>
		<string>🇬🇧</string>
		<string>🇺🇸</string>
		<string>🇺🇾</string>
		<string>🇺🇿</string>
		<string>🇻🇺</string>
		<string>🇻🇦</string>
		<string>🇻🇪</string>
		<string>🇻🇳</string>
		<string>🇼🇫</string>
		<string>🇪🇭</string>
		<string>🇾🇪</string>
		<string>🇿🇲</string>
		<string>🇿🇼</string>
	</array>
	<key>objects</key>
	<array>
		<string>⌚️</string>
		<string>📱</string>
		<string>📲</string>
		<string>💻</string>
		<string>⌨️</string>
		<string>🖥️</string>
		<string>🖨️</string>
		<string>🖱️</string>
		<string>🖲️</string>
		<string>🕹️</string>
		<string>🗜️</string>
		<string>💽</string>
		<string>💾</string>
		<string>💿</string>
		<string>📀</string>
		<string>📼</string>
		<string>📷</string>
		<string>📸</string>
		<string>📹</string>
		<string>🎥</string>
		<string>📽️</string>
		<string>🎞️</string>
		<string>📞</string>
		<string>☎️</string>
		<string>📟</string>
		<string>📠</string>
		<string>📺</string>
		<string>📻</string>
		<string>🎙️</string>
		<string>🎚️</string>
		<string>🎛️</string>
		<string>⏱️</string>
		<string>⏲️</string>
		<string>⏰</string>
		<string>🕰️</string>
		<string>⌛️</string>
		<string>⏳</string>
		<string>📡</string>
		<string>🔋</string>
		<string>🔌</string>
		<string>💡</string>
		<string>🔦</string>
		<string>🕯️</string>
		<string>🗑️</string>
		<string>🛢️</string>
		<string>💸</string>
		<string>💵</string>
		<string>💴</string>
		<string>💶</string>
		<string>💷</string>
		<string>💰</string>
		<string>💳</string>
		<string>💎</string>
		<string>⚖️</string>
		<string>🔧</string>
		<string>🔨</string>
		<string>⚒️</string>
		<string>🛠️</string>
		<string>⛏️</string>
		<string>🔩</string>
		<string>⚙️</string>
		<string>⛓️</string>
		<string>🔫</string>
		<string>💣</string>
		<string>🔪</string>
		<string>🗡️</string>
		<string>⚔️</string>
		<string>🛡️</string>
		<string>🚬</string>
		<string>⚰️</string>
		<string>⚱️</string>
		<string>🏺</string>
		<string>🔮</string>
		<string>📿</string>
		<string>💈</string>
		<string>⚗️</string>
		<string>🔭</string>
		<string>🔬</string>
		<string>🕳️</string>
		<string>💊</string>
		<string>💉</string>
		<string>🌡️</string>
		<string>🚽</string>
		<string>🚰</string>
		<string>🚿</string>
		<string>🛁</string>
		<string>🛀</string>
		<string>🛎️</string>
		<string>🔑</string>
		<string>🗝️</string>
		<string>🚪</string>
		<string>🛋️</string>
		<string>🛏️</string>
		<string>🛌</string>
		<string>🖼️</string>
		<string>🛍️</string>
		<string>🎁</string>
		<string>🎈</string>
		<string>🎏</string>
		<string>🎀</string>
		<string>🎊</string>
		<string>🎉</string>
		<string>🎎</string>
		<string>🏮</string>
		<string>🎐</string>
		<string>✉️</string>
		<string>📩</string>
		<string>📨</string>
		<string>📧</string>
		<string>💌</string>
		<string>📥</string>
		<string>📤</string>
		<string>📦</string>
		<string>🏷️</string>
		<string>📪</string>
		<string>📫</string>
		<string>📬</string>
		<string>📭</string>
		<string>📮</string>
		<string>📯</string>
		<string>📜</string>
		<string>📃</string>
		<string>📄</string>
		<string>📑</string>
		<string>📊</string>
		<string>📈</string>
		<string>📉</string>
		<string>🗒️</string>
		<string>🗓️</string>
		<string>📆</string>
		<string>📅</string>
		<string>📇</string>
		<string>🗃️</string>
		<string>🗳️</string>
		<string>🗄️</string>
		<string>📋</string>
		<string>📁</string>
		<string>📂</string>
		<string>🗂️</string>
		<string>🗞️</string>
		<string>📰</string>
		<string>📓</string>
		<string>📔</string>
		<string>📒</string>
		<string>📕</string>
		<string>📗</string>
		<string>📘</string>
		<string>📙</string>
		<string>📚</string>
		<string>📖</string>
		<string>🔖</string>
		<string>🔗</string>
		<string>📎</string>
		<string>🖇️</string>
		<string>📐</string>
		<string>📏</string>
		<string>📌</string>
		<string>📍</string>
		<string>✂️</string>
		<string>🖊️</string>
		<string>🖋️</string>
		<string>✒️</string>
		<string>🖌️</string>
		<string>🖍️</string>
		<string>📝</string>
		<string>✏️</string>
		<string>🔍</string>
		<string>🔎</string>
		<string>🔏</string>
		<string>🔐</string>
		<string>🔒</string>
		<string>🔓</string>
	</array>
	<key>travel&amp;places</key>
	<array>
		<string>🚗</string>
		<string>🚕</string>
		<string>🚙</string>
		<string>🚌</string>
		<string>🚎</string>
		<string>🏎️</string>
		<string>🚓</string>
		<string>🚑</string>
		<string>🚒</string>
		<string>🚐</string>
		<string>🚚</string>
		<string>🚛</string>
		<string>🚜</string>
		<string>🚲</string>
		<string>🏍️</string>
		<string>🚨</string>
		<string>🚔</string>
		<string>🚍</string>
		<string>🚘</string>
		<string>🚖</string>
		<string>🚡</string>
		<string>🚠</string>
		<string>🚟</string>
		<string>🚃</string>
		<string>🚋</string>
		<string>🚞</string>
		<string>🚝</string>
		<string>🚄</string>
		<string>🚅</string>
		<string>🚈</string>
		<string>🚂</string>
		<string>🚆</string>
		<string>🚇</string>
		<string>🚊</string>
		<string>🚉</string>
		<string>🚁</string>
		<string>🛩️</string>
		<string>✈️</string>
		<string>🛫</string>
		<string>🛬</string>
		<string>🚀</string>
		<string>🛰️</string>
		<string>💺</string>
		<string>⛵️</string>
		<string>🛥️</string>
		<string>🚤</string>
		<string>🛳️</string>
		<string>⛴️</string>
		<string>🚢</string>
		<string>⚓️</string>
		<string>🚧</string>
		<string>⛽️</string>
		<string>🚏</string>
		<string>🚦</string>
		<string>🚥</string>
		<string>🗺️</string>
		<string>🗿</string>
		<string>🗽</string>
		<string>⛲️</string>
		<string>🗼</string>
		<string>🏰</string>
		<string>🏯</string>
		<string>🏟️</string>
		<string>🎡</string>
		<string>🎢</string>
		<string>🎠</string>
		<string>⛱️</string>
		<string>🏖️</string>
		<string>🏝️</string>
		<string>⛰️</string>
		<string>🏔️</string>
		<string>🗻</string>
		<string>🌋</string>
		<string>🏜️</string>
		<string>🏕️</string>
		<string>⛺️</string>
		<string>🛤️</string>
		<string>🛣️</string>
		<string>🏗️</string>
		<string>🏭</string>
		<string>🏠</string>
		<string>🏡</string>
		<string>🏘️</string>
		<string>🏚️</string>
		<string>🏢</string>
		<string>🏬</string>
		<string>🏣</string>
		<string>🏤</string>
		<string>🏥</string>
		<string>🏦</string>
		<string>🏨</string>
		<string>🏪</string>
		<string>🏫</string>
		<string>🏩</string>
		<string>💒</string>
		<string>🏛️</string>
		<string>⛪️</string>
		<string>🕌</string>
		<string>🕍</string>
		<string>🕋</string>
		<string>⛩️</string>
		<string>🗾</string>
		<string>🎑</string>
		<string>🏞️</string>
		<string>🌅</string>
		<string>🌄</string>
		<string>🌠</string>
		<string>🎇</string>
		<string>🎆</string>
		<string>🌇</string>
		<string>🌆</string>
		<string>🏙️</string>
		<string>🌃</string>
		<string>🌌</string>
		<string>🌉</string>
		<string>🌁</string>
	</array>
	<key>faceDict</key>
	<dict>
		<key>activity</key>
		<dict>
			<key>activity23</key>
			<array>
				<string>🏄</string>
				<string>🏄🏻</string>
				<string>🏄🏼</string>
				<string>🏄🏽</string>
				<string>🏄🏾</string>
				<string>🏄🏿</string>
			</array>
			<key>activity29</key>
			<array>
				<string>🏇</string>
				<string>🏇🏻</string>
				<string>🏇🏼</string>
				<string>🏇🏽</string>
				<string>🏇🏾</string>
				<string>🏇🏿</string>
			</array>
			<key>activity22</key>
			<array>
				<string>🏊</string>
				<string>🏊🏻</string>
				<string>🏊🏼</string>
				<string>🏊🏽</string>
				<string>🏊🏾</string>
				<string>🏊🏿</string>
			</array>
			<key>activity28</key>
			<array>
				<string>🚵</string>
				<string>🚵🏻</string>
				<string>🚵🏼</string>
				<string>🚵🏽</string>
				<string>🚵🏾</string>
				<string>🚵🏿</string>
			</array>
			<key>activity21</key>
			<array>
				<string>🚣</string>
				<string>🚣🏻</string>
				<string>🚣🏼</string>
				<string>🚣🏽</string>
				<string>🚣🏾</string>
				<string>🚣🏿</string>
			</array>
			<key>activity27</key>
			<array>
				<string>🚴</string>
				<string>🚴🏻</string>
				<string>🚴🏼</string>
				<string>🚴🏽</string>
				<string>🚴🏾</string>
				<string>🚴🏿</string>
			</array>
			<key>activity26</key>
			<array>
				<string>🏋</string>
				<string>🏋🏻</string>
				<string>🏋🏼</string>
				<string>🏋🏽</string>
				<string>🏋🏾</string>
				<string>🏋🏿</string>
			</array>
			<key>activity25</key>
			<array>
				<string>⛹</string>
				<string>⛹🏻</string>
				<string>⛹🏼</string>
				<string>⛹🏽</string>
				<string>⛹🏾</string>
				<string>⛹🏿</string>
			</array>
			<key>activity24</key>
			<array>
				<string>🛀</string>
				<string>🛀🏻</string>
				<string>🛀🏼</string>
				<string>🛀🏽</string>
				<string>🛀🏾</string>
				<string>🛀🏿</string>
			</array>
		</dict>
		<key>people</key>
		<dict>
			<key>people137</key>
			<array>
				<string>🚶</string>
				<string>🚶🏻</string>
				<string>🚶🏼</string>
				<string>🚶🏽</string>
				<string>🚶🏾</string>
				<string>🚶🏿</string>
			</array>
			<key>people144</key>
			<array>
				<string>🙇</string>
				<string>🙇🏻</string>
				<string>🙇🏼</string>
				<string>🙇🏽</string>
				<string>🙇🏾</string>
				<string>🙇🏿</string>
			</array>
			<key>people138</key>
			<array>
				<string>🏃</string>
				<string>🏃🏻</string>
				<string>🏃🏼</string>
				<string>🏃🏽</string>
				<string>🏃🏾</string>
				<string>🏃🏿</string>
			</array>
			<key>people145</key>
			<array>
				<string>💁</string>
				<string>💁🏻</string>
				<string>💁🏼</string>
				<string>💁🏽</string>
				<string>💁🏾</string>
				<string>💁🏿</string>
			</array>
			<key>people90</key>
			<array>
				<string>👎</string>
				<string>👎🏻</string>
				<string>👎🏼</string>
				<string>👎🏽</string>
				<string>👎🏾</string>
				<string>👎🏿</string>
			</array>
			<key>people152</key>
			<array>
				<string>💆</string>
				<string>💆🏻</string>
				<string>💆🏼</string>
				<string>💆🏽</string>
				<string>💆🏾</string>
				<string>💆🏿</string>
			</array>
			<key>people139</key>
			<array>
				<string>💃</string>
				<string>💃🏻</string>
				<string>💃🏼</string>
				<string>💃🏽</string>
				<string>💃🏾</string>
				<string>💃🏿</string>
			</array>
			<key>people146</key>
			<array>
				<string>🙅</string>
				<string>🙅🏻</string>
				<string>🙅🏼</string>
				<string>🙅🏽</string>
				<string>🙅🏾</string>
				<string>🙅🏿</string>
			</array>
			<key>people91</key>
			<array>
				<string>👊</string>
				<string>👊🏻</string>
				<string>👊🏼</string>
				<string>👊🏽</string>
				<string>👊🏾</string>
				<string>👊🏿</string>
			</array>
			<key>people92</key>
			<array>
				<string>✊</string>
				<string>✊🏻</string>
				<string>✊🏼</string>
				<string>✊🏽</string>
				<string>✊🏾</string>
				<string>✊🏿</string>
			</array>
			<key>people147</key>
			<array>
				<string>🙆</string>
				<string>🙆🏻</string>
				<string>🙆🏼</string>
				<string>🙆🏽</string>
				<string>🙆🏾</string>
				<string>🙆🏿</string>
			</array>
			<key>people86</key>
			<array>
				<string>🙌</string>
				<string>🙌🏻</string>
				<string>🙌🏼</string>
				<string>🙌🏽</string>
				<string>🙌🏾</string>
				<string>🙌🏿</string>
			</array>
			<key>people87</key>
			<array>
				<string>👏</string>
				<string>👏🏻</string>
				<string>👏🏼</string>
				<string>👏🏽</string>
				<string>👏🏾</string>
				<string>👏🏿</string>
			</array>
			<key>people148</key>
			<array>
				<string>🙋</string>
				<string>🙋🏻</string>
				<string>🙋🏼</string>
				<string>🙋🏽</string>
				<string>🙋🏾</string>
				<string>🙋🏿</string>
			</array>
			<key>people94</key>
			<array>
				<string>👌</string>
				<string>👌🏻</string>
				<string>👌🏼</string>
				<string>👌🏽</string>
				<string>👌🏾</string>
				<string>👌🏿</string>
			</array>
			<key>people95</key>
			<array>
				<string>✋</string>
				<string>✋🏻</string>
				<string>✋🏼</string>
				<string>✋🏽</string>
				<string>✋🏾</string>
				<string>✋🏿</string>
			</array>
			<key>people88</key>
			<array>
				<string>👋</string>
				<string>👋🏻</string>
				<string>👋🏼</string>
				<string>👋🏽</string>
				<string>👋🏾</string>
				<string>👋🏿</string>
			</array>
			<key>people149</key>
			<array>
				<string>🙎</string>
				<string>🙎🏻</string>
				<string>🙎🏼</string>
				<string>🙎🏽</string>
				<string>🙎🏾</string>
				<string>🙎🏿</string>
			</array>
			<key>people89</key>
			<array>
				<string>👍</string>
				<string>👍🏻</string>
				<string>👍🏼</string>
				<string>👍🏽</string>
				<string>👍🏾</string>
				<string>👍🏿</string>
			</array>
			<key>people96</key>
			<array>
				<string>👐</string>
				<string>👐🏻</string>
				<string>👐🏼</string>
				<string>👐🏽</string>
				<string>👐🏾</string>
				<string>👐🏿</string>
			</array>
			<key>people97</key>
			<array>
				<string>💪</string>
				<string>💪🏻</string>
				<string>💪🏼</string>
				<string>💪🏽</string>
				<string>💪🏾</string>
				<string>💪🏿</string>
			</array>
			<key>people98</key>
			<array>
				<string>🙏</string>
				<string>🙏🏻</string>
				<string>🙏🏼</string>
				<string>🙏🏽</string>
				<string>🙏🏾</string>
				<string>🙏🏿</string>
			</array>
			<key>people100</key>
			<array>
				<string>👆</string>
				<string>👆🏻</string>
				<string>👆🏼</string>
				<string>👆🏽</string>
				<string>👆🏾</string>
				<string>👆🏿</string>
			</array>
			<key>people101</key>
			<array>
				<string>👇</string>
				<string>👇🏻</string>
				<string>👇🏼</string>
				<string>👇🏽</string>
				<string>👇🏾</string>
				<string>👇🏿</string>
			</array>
			<key>people102</key>
			<array>
				<string>👈</string>
				<string>👈🏻</string>
				<string>👈🏼</string>
				<string>👈🏽</string>
				<string>👈🏾</string>
				<string>👈🏿</string>
			</array>
			<key>people103</key>
			<array>
				<string>👉</string>
				<string>👉🏻</string>
				<string>👉🏼</string>
				<string>👉🏽</string>
				<string>👉🏾</string>
				<string>👉🏿</string>
			</array>
			<key>people104</key>
			<array>
				<string>🖕</string>
				<string>🖕🏻</string>
				<string>🖕🏼</string>
				<string>🖕🏽</string>
				<string>🖕🏾</string>
				<string>🖕🏿</string>
			</array>
			<key>people105</key>
			<array>
				<string>🖐</string>
				<string>🖐🏻</string>
				<string>🖐🏼</string>
				<string>🖐🏽</string>
				<string>🖐🏾</string>
				<string>🖐🏿</string>
			</array>
			<key>people112</key>
			<array>
				<string>👂</string>
				<string>👂🏻</string>
				<string>👂🏼</string>
				<string>👂🏽</string>
				<string>👂🏾</string>
				<string>👂🏿</string>
			</array>
			<key>people113</key>
			<array>
				<string>👃</string>
				<string>👃🏻</string>
				<string>👃🏼</string>
				<string>👃🏽</string>
				<string>👃🏾</string>
				<string>👃🏿</string>
			</array>
			<key>people120</key>
			<array>
				<string>👦</string>
				<string>👦🏻</string>
				<string>👦🏼</string>
				<string>👦🏽</string>
				<string>👦🏾</string>
				<string>👦🏿</string>
			</array>
			<key>people106</key>
			<array>
				<string>🤘</string>
				<string>🤘🏻</string>
				<string>🤘🏼</string>
				<string>🤘🏽</string>
				<string>🤘🏾</string>
				<string>🤘🏿</string>
			</array>
			<key>people107</key>
			<array>
				<string>🖖</string>
				<string>🖖🏻</string>
				<string>🖖🏼</string>
				<string>🖖🏽</string>
				<string>🖖🏾</string>
				<string>🖖🏿</string>
			</array>
			<key>people121</key>
			<array>
				<string>👧</string>
				<string>👧🏻</string>
				<string>👧🏼</string>
				<string>👧🏽</string>
				<string>👧🏾</string>
				<string>👧🏿</string>
			</array>
			<key>people108</key>
			<array>
				<string>✍</string>
				<string>✍🏻</string>
				<string>✍🏼</string>
				<string>✍🏽</string>
				<string>✍🏾</string>
				<string>✍🏿</string>
			</array>
			<key>people122</key>
			<array>
				<string>👨</string>
				<string>👨🏻</string>
				<string>👨🏼</string>
				<string>👨🏽</string>
				<string>👨🏾</string>
				<string>👨🏿</string>
			</array>
			<key>people123</key>
			<array>
				<string>👩</string>
				<string>👩🏻</string>
				<string>👩🏼</string>
				<string>👩🏽</string>
				<string>👩🏾</string>
				<string>👩🏿</string>
			</array>
			<key>people130</key>
			<array>
				<string>👷</string>
				<string>👷🏻</string>
				<string>👷🏼</string>
				<string>👷🏽</string>
				<string>👷🏾</string>
				<string>👷🏿</string>
			</array>
			<key>people109</key>
			<array>
				<string>💅</string>
				<string>💅🏻</string>
				<string>💅🏼</string>
				<string>💅🏽</string>
				<string>💅🏾</string>
				<string>💅🏿</string>
			</array>
			<key>people124</key>
			<array>
				<string>👱</string>
				<string>👱🏻</string>
				<string>👱🏼</string>
				<string>👱🏽</string>
				<string>👱🏾</string>
				<string>👱🏿</string>
			</array>
			<key>people131</key>
			<array>
				<string>💂</string>
				<string>💂🏻</string>
				<string>💂🏼</string>
				<string>💂🏽</string>
				<string>💂🏾</string>
				<string>💂🏿</string>
			</array>
			<key>people125</key>
			<array>
				<string>👴</string>
				<string>👴🏻</string>
				<string>👴🏼</string>
				<string>👴🏽</string>
				<string>👴🏾</string>
				<string>👴🏿</string>
			</array>
			<key>people119</key>
			<array>
				<string>👶</string>
				<string>👶🏻</string>
				<string>👶🏼</string>
				<string>👶🏽</string>
				<string>👶🏾</string>
				<string>👶🏿</string>
			</array>
			<key>people126</key>
			<array>
				<string>👵</string>
				<string>👵🏻</string>
				<string>👵🏼</string>
				<string>👵🏽</string>
				<string>👵🏾</string>
				<string>👵🏿</string>
			</array>
			<key>people133</key>
			<array>
				<string>🎅</string>
				<string>🎅🏻</string>
				<string>🎅🏼</string>
				<string>🎅🏽</string>
				<string>🎅🏾</string>
				<string>🎅🏿</string>
			</array>
			<key>people134</key>
			<array>
				<string>👼</string>
				<string>👼🏻</string>
				<string>👼🏼</string>
				<string>👼🏽</string>
				<string>👼🏾</string>
				<string>👼🏿</string>
			</array>
			<key>people127</key>
			<array>
				<string>👲</string>
				<string>👲🏻</string>
				<string>👲🏼</string>
				<string>👲🏽</string>
				<string>👲🏾</string>
				<string>👲🏿</string>
			</array>
			<key>people128</key>
			<array>
				<string>👳</string>
				<string>👳🏻</string>
				<string>👳🏼</string>
				<string>👳🏽</string>
				<string>👳🏾</string>
				<string>👳🏿</string>
			</array>
			<key>people135</key>
			<array>
				<string>👸</string>
				<string>👸🏻</string>
				<string>👸🏼</string>
				<string>👸🏽</string>
				<string>👸🏾</string>
				<string>👸🏿</string>
			</array>
			<key>people150</key>
			<array>
				<string>🙍</string>
				<string>🙍🏻</string>
				<string>🙍🏼</string>
				<string>🙍🏽</string>
				<string>🙍🏾</string>
				<string>🙍🏿</string>
			</array>
			<key>people129</key>
			<array>
				<string>👮</string>
				<string>👮🏻</string>
				<string>👮🏼</string>
				<string>👮🏽</string>
				<string>👮🏾</string>
				<string>👮🏿</string>
			</array>
			<key>people136</key>
			<array>
				<string>👰</string>
				<string>👰🏻</string>
				<string>👰🏼</string>
				<string>👰🏽</string>
				<string>👰🏾</string>
				<string>👰🏿</string>
			</array>
			<key>people151</key>
			<array>
				<string>💇</string>
				<string>💇🏻</string>
				<string>💇🏼</string>
				<string>💇🏽</string>
				<string>💇🏾</string>
				<string>💇🏿</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
