<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keys</key>
	<array>
		<dict>
			<key>weight_x</key>
			<real>0.135</real>
			<key>type</key>
			<string>layout_switching</string>
		</dict>
		<dict>
			<key>character</key>
			<string>,</string>
			<key>weight_x</key>
			<real>0.135</real>
			<key>type</key>
			<string>keyboard_switcher</string>
		</dict>
		<dict>
			<key>character</key>
			<string>.</string>
			<key>weight_x</key>
			<real>0.169</real>
			<key>type</key>
			<string>punctuation_slider</string>
		</dict>
		<dict>
			<key>character</key>
			<string>/</string>
			<key>shiftedKey</key>
			<string>/</string>
			<key>weight_x</key>
			<real>0.169</real>
			<key>type</key>
			<string>character</string>
			<key>functionnal</key>
			<true/>
		</dict>
		<dict>
			<key>character</key>
			<string>.com</string>
			<key>shiftedKey</key>
			<string>.com</string>
			<key>weight_x</key>
			<real>0.169</real>
			<key>type</key>
			<string>character</string>
			<key>functionnal</key>
			<true/>
		</dict>
		<dict>
			<key>weight_x</key>
			<real>0.1775</real>
			<key>type</key>
			<string>return</string>
		</dict>
	</array>
</dict>
</plist>
