<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>1</integer>
	<key>rows</key>
	<array>
		<dict>
			<key>keys</key>
			<array>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>1</string>
					</array>
					<key>top_text</key>
					<string>1</string>
					<key>shiftedKey</key>
					<string>Љ</string>
					<key>weight_x</key>
					<real>0.082</real>
					<key>character</key>
					<string>љ</string>
					<key>type</key>
					<string>character</string>
					<key>margin_left</key>
					<real>0</real>
					<key>margin_left_iPad</key>
					<real>0.0059</real>
					<key>margin_right</key>
					<integer>0</integer>
					<key>margin_right_iPad</key>
					<real>0.0059</real>
				</dict>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>2</string>
					</array>
					<key>top_text</key>
					<string>2</string>
					<key>shiftedKey</key>
					<string>Њ</string>
					<key>weight_x</key>
					<real>0.082</real>
					<key>character</key>
					<string>њ</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>3</string>
					</array>
					<key>top_text</key>
					<string>3</string>
					<key>shiftedKey</key>
					<string>Е</string>
					<key>weight_x</key>
					<real>0.082</real>
					<key>character</key>
					<string>е</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>4</string>
					</array>
					<key>top_text</key>
					<string>4</string>
					<key>shiftedKey</key>
					<string>Р</string>
					<key>weight_x</key>
					<real>0.082</real>
					<key>character</key>
					<string>р</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>5</string>
					</array>
					<key>top_text</key>
					<string>5</string>
					<key>shiftedKey</key>
					<string>Т</string>
					<key>weight_x</key>
					<real>0.082</real>
					<key>character</key>
					<string>т</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>6</string>
					</array>
					<key>top_text</key>
					<string>6</string>
					<key>shiftedKey</key>
					<string>З</string>
					<key>weight_x</key>
					<string>0.082</string>
					<key>character</key>
					<string>з</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>7</string>
					</array>
					<key>top_text</key>
					<string>7</string>
					<key>shiftedKey</key>
					<string>У</string>
					<key>weight_x</key>
					<string>0.082</string>
					<key>character</key>
					<string>у</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>8</string>
					</array>
					<key>top_text</key>
					<string>8</string>
					<key>shiftedKey</key>
					<string>И</string>
					<key>weight_x</key>
					<string>0.093</string>
					<key>character</key>
					<string>и</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>9</string>
					</array>
					<key>top_text</key>
					<string>9</string>
					<key>shiftedKey</key>
					<string>О</string>
					<key>weight_x</key>
					<string>0.082</string>
					<key>character</key>
					<string>о</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>0</string>
					</array>
					<key>top_text</key>
					<string>0</string>
					<key>shiftedKey</key>
					<string>П</string>
					<key>weight_x</key>
					<string>0.082</string>
					<key>character</key>
					<string>п</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>shiftedKey</key>
					<string>Ш</string>
					<key>weight_x</key>
					<string>0.082</string>
					<key>character</key>
					<string>ш</string>
					<key>type</key>
					<string>character</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>keys</key>
			<array>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>?</string>
					</array>
					<key>top_text</key>
					<string>?</string>
					<key>shiftedKey</key>
					<string>А</string>
					<key>weight_x</key>
					<real>0.09</real>
					<key>margin_left</key>
					<real>0.05</real>
					<key>margin_left_iPad</key>
					<real>0.0586</real>
					<key>margin_right</key>
					<integer>0</integer>
					<key>margin_right_iPad</key>
					<real>0.0586</real>
					<key>character</key>
					<string>а</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>!</string>
					</array>
					<key>top_text</key>
					<string>!</string>
					<key>shiftedKey</key>
					<string>С</string>
					<key>weight_x</key>
					<real>0.082</real>
					<key>character</key>
					<string>с</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>*</string>
					</array>
					<key>top_text</key>
					<string>*</string>
					<key>shiftedKey</key>
					<string>Д</string>
					<key>weight_x</key>
					<real>0.082</real>
					<key>character</key>
					<string>д</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>:</string>
					</array>
					<key>top_text</key>
					<string>:</string>
					<key>shiftedKey</key>
					<string>Ф</string>
					<key>weight_x</key>
					<real>0.082</real>
					<key>character</key>
					<string>ф</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>-</string>
					</array>
					<key>top_text</key>
					<string>-</string>
					<key>shiftedKey</key>
					<string>Г</string>
					<key>weight_x</key>
					<real>0.082</real>
					<key>character</key>
					<string>г</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>@</string>
					</array>
					<key>top_text</key>
					<string>@</string>
					<key>shiftedKey</key>
					<string>Х</string>
					<key>weight_x</key>
					<real>0.082</real>
					<key>character</key>
					<string>х</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>(</string>
					</array>
					<key>top_text</key>
					<string>(</string>
					<key>shiftedKey</key>
					<string>Ј</string>
					<key>weight_x</key>
					<real>0.082</real>
					<key>character</key>
					<string>ј</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>)</string>
					</array>
					<key>top_text</key>
					<string>)</string>
					<key>shiftedKey</key>
					<string>К</string>
					<key>weight_x</key>
					<real>0.082</real>
					<key>character</key>
					<string>к</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>&lt;</string>
					</array>
					<key>top_text</key>
					<string>&lt;</string>
					<key>shiftedKey</key>
					<string>Л</string>
					<key>weight_x</key>
					<real>0.082</real>
					<key>character</key>
					<string>л</string>
					<key>type</key>
					<string>character</string>
					<key>margin_right</key>
					<real>0.05</real>
				</dict>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>&gt;</string>
					</array>
					<key>top_text</key>
					<string>&gt;</string>
					<key>shiftedKey</key>
					<string>Ч</string>
					<key>weight_x</key>
					<real>0.082</real>
					<key>character</key>
					<string>ч</string>
					<key>type</key>
					<string>character</string>
					<key>margin_right</key>
					<real>0.05</real>
				</dict>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>&apos;</string>
					</array>
					<key>top_text</key>
					<string>&apos;</string>
					<key>shiftedKey</key>
					<string>Ћ</string>
					<key>weight_x</key>
					<real>0.082</real>
					<key>character</key>
					<string>ћ</string>
					<key>type</key>
					<string>character</string>
					<key>margin_right</key>
					<real>0.05</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>keys</key>
			<array>
				<dict>
					<key>weight_x</key>
					<real>0.09</real>
					<key>type</key>
					<string>shift</string>
					<key>margin_left</key>
					<real>0</real>
					<key>margin_left_iPad</key>
					<real>0.0059</real>
					<key>margin_right</key>
					<integer>0</integer>
					<key>margin_right_iPad</key>
					<real>0.0059</real>
				</dict>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>/</string>
					</array>
					<key>top_text</key>
					<string>/</string>
					<key>shiftedKey</key>
					<string>Ѕ</string>
					<key>weight_x</key>
					<real>0.082</real>
					<key>character</key>
					<string>ѕ</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>&quot;</string>
					</array>
					<key>top_text</key>
					<string>&quot;</string>
					<key>shiftedKey</key>
					<string>Џ</string>
					<key>weight_x</key>
					<real>0.082</real>
					<key>character</key>
					<string>џ</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>_</string>
					</array>
					<key>top_text</key>
					<string>_</string>
					<key>shiftedKey</key>
					<string>Ц</string>
					<key>weight_x</key>
					<real>0.082</real>
					<key>character</key>
					<string>ц</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>#</string>
					</array>
					<key>top_text</key>
					<string>#</string>
					<key>shiftedKey</key>
					<string>В</string>
					<key>weight_x</key>
					<real>0.1</real>
					<key>character</key>
					<string>в</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>;</string>
					</array>
					<key>top_text</key>
					<string>;</string>
					<key>shiftedKey</key>
					<string>Б</string>
					<key>weight_x</key>
					<real>0.082</real>
					<key>character</key>
					<string>б</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>&amp;</string>
					</array>
					<key>top_text</key>
					<string>&amp;</string>
					<key>shiftedKey</key>
					<string>Н</string>
					<key>weight_x</key>
					<real>0.082</real>
					<key>character</key>
					<string>н</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>+</string>
					</array>
					<key>top_text</key>
					<string>+</string>
					<key>shiftedKey</key>
					<string>М</string>
					<key>weight_x</key>
					<real>0.082</real>
					<key>character</key>
					<string>м</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>=</string>
					</array>
					<key>top_text</key>
					<string>=</string>
					<key>shiftedKey</key>
					<string>Ђ</string>
					<key>weight_x</key>
					<real>0.082</real>
					<key>character</key>
					<string>ђ</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>%</string>
					</array>
					<key>top_text</key>
					<string>%</string>
					<key>shiftedKey</key>
					<string>Ж</string>
					<key>weight_x</key>
					<real>0.082</real>
					<key>character</key>
					<string>ж</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>weight_x</key>
					<real>0.09</real>
					<key>type</key>
					<string>delete</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>function_row</key>
			<dict>
				<key>layout_switching_id</key>
				<string>symbols</string>
				<key>layout_switching_label</key>
				<string>?123</string>
				<key>spacekey_popup_characters</key>
				<array>
					<string>😂</string>
					<string>😘</string>
					<string>😍</string>
					<string>❤️</string>
					<string>😭</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
