<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>1</integer>
	<key>rows</key>
	<array>
		<dict>
			<key>keys</key>
			<array>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>1</string>
					</array>
					<key>shiftedKey</key>
					<string>ض</string>
					<key>weight_x</key>
					<real>0.081</real>
					<key>character</key>
					<string>ض</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>2</string>
						<string>w</string>
					</array>
					<key>top_text</key>
					<string></string>
					<key>shiftedKey</key>
					<string>ص</string>
					<key>weight_x</key>
					<real>0.081</real>
					<key>character</key>
					<string>ص</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>3</string>
					</array>
					<key>top_text</key>
					<string></string>
					<key>shiftedKey</key>
					<string>ث</string>
					<key>weight_x</key>
					<real>0.081</real>
					<key>character</key>
					<string>ث</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>4</string>
					</array>
					<key>top_text</key>
					<string></string>
					<key>shiftedKey</key>
					<string>ق</string>
					<key>weight_x</key>
					<real>0.081</real>
					<key>character</key>
					<string>ق</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>5</string>
					</array>
					<key>top_text</key>
					<string></string>
					<key>shiftedKey</key>
					<string>ف</string>
					<key>weight_x</key>
					<real>0.081</real>
					<key>character</key>
					<string>ف</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>6</string>
					</array>
					<key>top_text</key>
					<string></string>
					<key>shiftedKey</key>
					<string>غ</string>
					<key>weight_x</key>
					<real>0.081</real>
					<key>character</key>
					<string>غ</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>7</string>
					</array>
					<key>top_text</key>
					<string></string>
					<key>shiftedKey</key>
					<string>ع</string>
					<key>weight_x</key>
					<real>0.081</real>
					<key>character</key>
					<string>ع</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>8</string>
					</array>
					<key>top_text</key>
					<string></string>
					<key>shiftedKey</key>
					<string>ه</string>
					<key>weight_x</key>
					<real>0.081</real>
					<key>character</key>
					<string>ه</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>9</string>
					</array>
					<key>top_text</key>
					<string></string>
					<key>shiftedKey</key>
					<string>خ</string>
					<key>weight_x</key>
					<real>0.081</real>
					<key>character</key>
					<string>خ</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>0</string>
					</array>
					<key>top_text</key>
					<string></string>
					<key>shiftedKey</key>
					<string>ح</string>
					<key>weight_x</key>
					<real>0.081</real>
					<key>character</key>
					<string>ح</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>shiftedKey</key>
					<string>ج</string>
					<key>weight_x</key>
					<real>0.081</real>
					<key>character</key>
					<string>ج</string>
					<key>type</key>
					<string>character</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>keys</key>
			<array>
				<dict>
					<key>shiftedKey</key>
					<string>ش</string>
					<key>weight_x</key>
					<real>0.081</real>
					<key>character</key>
					<string>ش</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>shiftedKey</key>
					<string>س</string>
					<key>weight_x</key>
					<real>0.081</real>
					<key>character</key>
					<string>س</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>shiftedKey</key>
					<string>ي</string>
					<key>weight_x</key>
					<real>0.081</real>
					<key>character</key>
					<string>ي</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>shiftedKey</key>
					<string>ب</string>
					<key>weight_x</key>
					<real>0.081</real>
					<key>character</key>
					<string>ب</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>shiftedKey</key>
					<string>ل</string>
					<key>weight_x</key>
					<real>0.081</real>
					<key>character</key>
					<string>ل</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>shiftedKey</key>
					<string>ا</string>
					<key>weight_x</key>
					<real>0.081</real>
					<key>character</key>
					<string>ا</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>shiftedKey</key>
					<string>ت</string>
					<key>weight_x</key>
					<real>0.081</real>
					<key>character</key>
					<string>ت</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>shiftedKey</key>
					<string>ن</string>
					<key>weight_x</key>
					<real>0.081</real>
					<key>character</key>
					<string>ن</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>shiftedKey</key>
					<string>م</string>
					<key>weight_x</key>
					<real>0.081</real>
					<key>character</key>
					<string>م</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>shiftedKey</key>
					<string>ك</string>
					<key>weight_x</key>
					<real>0.081</real>
					<key>character</key>
					<string>ك</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>shiftedKey</key>
					<string>ة</string>
					<key>weight_x</key>
					<real>0.081</real>
					<key>character</key>
					<string>ة</string>
					<key>type</key>
					<string>character</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>keys</key>
			<array>
				<dict>
					<key>shiftedKey</key>
					<string>ء</string>
					<key>weight_x</key>
					<real>0.081</real>
					<key>character</key>
					<string>ء</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>shiftedKey</key>
					<string>ظ</string>
					<key>weight_x</key>
					<real>0.081</real>
					<key>character</key>
					<string>ظ</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>shiftedKey</key>
					<string>ط</string>
					<key>weight_x</key>
					<real>0.081</real>
					<key>character</key>
					<string>ط</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>shiftedKey</key>
					<string>ذ</string>
					<key>weight_x</key>
					<real>0.081</real>
					<key>character</key>
					<string>ذ</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>shiftedKey</key>
					<string>د</string>
					<key>weight_x</key>
					<real>0.081</real>
					<key>character</key>
					<string>د</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>shiftedKey</key>
					<string>ز</string>
					<key>weight_x</key>
					<real>0.081</real>
					<key>character</key>
					<string>ز</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>shiftedKey</key>
					<string>ر</string>
					<key>weight_x</key>
					<real>0.081</real>
					<key>character</key>
					<string>ر</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>shiftedKey</key>
					<string>و</string>
					<key>weight_x</key>
					<real>0.081</real>
					<key>character</key>
					<string>و</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>shiftedKey</key>
					<string>ى</string>
					<key>weight_x</key>
					<real>0.081</real>
					<key>character</key>
					<string>ى</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>weight_x</key>
					<real>0.122</real>
					<key>type</key>
					<string>delete</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>function_row</key>
			<dict>
				<key>layout_switching_id</key>
				<string>symbols</string>
				<key>layout_switching_label</key>
				<string>١٢٣</string>
				<key>spacekey_popup_characters</key>
				<array>
					<string>😂</string>
					<string>❤️</string>
					<string>💋</string>
					<string>😘</string>
					<string>😍</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
