<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>1</integer>
	<key>rows</key>
	<array>
		<dict>
			<key>keys</key>
			<array>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>1</string>
					</array>
					<key>top_text</key>
					<string>1</string>
					<key>shiftedKey</key>
					<string>Q</string>
					<key>weight_x</key>
					<real>0.0925</real>
					<key>character</key>
					<string>q</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>2</string>
					</array>
					<key>top_text</key>
					<string>2</string>
					<key>shiftedKey</key>
					<string>W</string>
					<key>weight_x</key>
					<real>0.0925</real>
					<key>character</key>
					<string>w</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>3</string>
						<string>é</string>
						<string>è</string>
						<string>ê</string>
						<string>ë</string>
						<string>ę</string>
						<string>ė</string>
						<string>ē</string>
					</array>
					<key>top_text</key>
					<string>3</string>
					<key>shiftedKey</key>
					<string>E</string>
					<key>weight_x</key>
					<real>0.0925</real>
					<key>character</key>
					<string>e</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>4</string>
					</array>
					<key>top_text</key>
					<string>4</string>
					<key>shiftedKey</key>
					<string>R</string>
					<key>weight_x</key>
					<real>0.0925</real>
					<key>character</key>
					<string>r</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>5</string>
					</array>
					<key>top_text</key>
					<string>5</string>
					<key>shiftedKey</key>
					<string>T</string>
					<key>weight_x</key>
					<real>0.0925</real>
					<key>character</key>
					<string>t</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>6</string>
					</array>
					<key>top_text</key>
					<string>6</string>
					<key>shiftedKey</key>
					<string>Z</string>
					<key>weight_x</key>
					<real>0.0925</real>
					<key>character</key>
					<string>z</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>7</string>
						<string>ú</string>
						<string>ü</string>
						<string>ű</string>
						<string>û</string>
						<string>ù</string>
						<string>ū</string>
					</array>
					<key>top_text</key>
					<string>7</string>
					<key>shiftedKey</key>
					<string>U</string>
					<key>weight_x</key>
					<real>0.0925</real>
					<key>character</key>
					<string>u</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>8</string>
						<string>í</string>
						<string>î</string>
						<string>ï</string>
						<string>ì</string>
						<string>į</string>
						<string>ī</string>
					</array>
					<key>top_text</key>
					<string>8</string>
					<key>shiftedKey</key>
					<string>I</string>
					<key>weight_x</key>
					<real>0.0925</real>
					<key>character</key>
					<string>i</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>9</string>
						<string>ó</string>
						<string>ö</string>
						<string>ő</string>
						<string>ô</string>
						<string>ò</string>
						<string>õ</string>
						<string>œ</string>
						<string>ø</string>
						<string>ō</string>
					</array>
					<key>top_text</key>
					<string>9</string>
					<key>shiftedKey</key>
					<string>O</string>
					<key>weight_x</key>
					<real>0.0925</real>
					<key>character</key>
					<string>o</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>0</string>
					</array>
					<key>top_text</key>
					<string>0</string>
					<key>shiftedKey</key>
					<string>P</string>
					<key>weight_x</key>
					<real>0.0925</real>
					<key>character</key>
					<string>p</string>
					<key>type</key>
					<string>character</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>keys</key>
			<array>
				<dict>
					<key>popup_characters</key>
					<array>
						<string>á</string>
						<string>à</string>
						<string>â</string>
						<string>ä</string>
						<string>æ</string>
						<string>ã</string>
						<string>å</string>
						<string>ā</string>
					</array>
					<key>shiftedKey</key>
					<string>A</string>
					<key>weight_x</key>
					<real>0.0925</real>
					<key>character</key>
					<string>a</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>shiftedKey</key>
					<string>S</string>
					<key>weight_x</key>
					<real>0.0925</real>
					<key>character</key>
					<string>s</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>shiftedKey</key>
					<string>D</string>
					<key>weight_x</key>
					<real>0.0925</real>
					<key>character</key>
					<string>d</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>shiftedKey</key>
					<string>F</string>
					<key>weight_x</key>
					<real>0.0925</real>
					<key>character</key>
					<string>f</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>shiftedKey</key>
					<string>G</string>
					<key>weight_x</key>
					<real>0.0925</real>
					<key>character</key>
					<string>g</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>shiftedKey</key>
					<string>H</string>
					<key>weight_x</key>
					<real>0.0925</real>
					<key>character</key>
					<string>h</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>shiftedKey</key>
					<string>J</string>
					<key>weight_x</key>
					<real>0.0925</real>
					<key>character</key>
					<string>j</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>shiftedKey</key>
					<string>K</string>
					<key>weight_x</key>
					<real>0.0925</real>
					<key>character</key>
					<string>k</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>shiftedKey</key>
					<string>L</string>
					<key>weight_x</key>
					<real>0.0925</real>
					<key>character</key>
					<string>l</string>
					<key>type</key>
					<string>character</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>keys</key>
			<array>
				<dict>
					<key>weight_x</key>
					<real>0.14</real>
					<key>type</key>
					<string>shift</string>
				</dict>
				<dict>
					<key>shiftedKey</key>
					<string>Y</string>
					<key>weight_x</key>
					<real>0.0925</real>
					<key>character</key>
					<string>y</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>shiftedKey</key>
					<string>X</string>
					<key>weight_x</key>
					<real>0.0925</real>
					<key>character</key>
					<string>x</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>shiftedKey</key>
					<string>C</string>
					<key>weight_x</key>
					<real>0.0925</real>
					<key>character</key>
					<string>c</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>shiftedKey</key>
					<string>V</string>
					<key>weight_x</key>
					<real>0.0925</real>
					<key>character</key>
					<string>v</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>shiftedKey</key>
					<string>B</string>
					<key>weight_x</key>
					<real>0.0925</real>
					<key>character</key>
					<string>b</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>shiftedKey</key>
					<string>N</string>
					<key>weight_x</key>
					<real>0.0925</real>
					<key>character</key>
					<string>n</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>shiftedKey</key>
					<string>M</string>
					<key>weight_x</key>
					<real>0.0925</real>
					<key>character</key>
					<string>m</string>
					<key>type</key>
					<string>character</string>
				</dict>
				<dict>
					<key>weight_x</key>
					<real>0.14</real>
					<key>type</key>
					<string>delete</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>function_row</key>
			<dict>
				<key>layout_switching_id</key>
				<string>symbols</string>
				<key>layout_switching_label</key>
				<string>?123</string>
				<key>spacekey_popup_characters</key>
				<array>
					<string>😂</string>
					<string>❤️</string>
					<string>😍</string>
					<string>😘</string>
					<string>😊</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
