<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>500</string>
		<key>title</key>
		<string></string>
		<key>cover_url</key>
		<string></string>
		<key>download_url</key>
		<string>style1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>501</string>
		<key>title</key>
		<string></string>
		<key>cover_url</key>
		<string></string>
		<key>download_url</key>
		<string>style2</string>
	</dict>
	<dict>
		<key>id</key>
		<string>502</string>
		<key>title</key>
		<string></string>
		<key>cover_url</key>
		<string></string>
		<key>download_url</key>
		<string>style3</string>
	</dict>
	<dict>
		<key>id</key>
		<string>503</string>
		<key>title</key>
		<string></string>
		<key>cover_url</key>
		<string></string>
		<key>download_url</key>
		<string>style4</string>
	</dict>
	<dict>
		<key>id</key>
		<string>504</string>
		<key>title</key>
		<string></string>
		<key>cover_url</key>
		<string></string>
		<key>download_url</key>
		<string>style5</string>
	</dict>
	<dict>
		<key>id</key>
		<string>505</string>
		<key>title</key>
		<string></string>
		<key>cover_url</key>
		<string></string>
		<key>download_url</key>
		<string>style6</string>
	</dict>
	<dict>
		<key>id</key>
		<string>506</string>
		<key>title</key>
		<string></string>
		<key>cover_url</key>
		<string></string>
		<key>download_url</key>
		<string>style7</string>
	</dict>
	<dict>
		<key>id</key>
		<string>507</string>
		<key>title</key>
		<string></string>
		<key>cover_url</key>
		<string></string>
		<key>download_url</key>
		<string>style8</string>
	</dict>
	<dict>
		<key>id</key>
		<string>508</string>
		<key>title</key>
		<string></string>
		<key>cover_url</key>
		<string></string>
		<key>download_url</key>
		<string>style9</string>
	</dict>
	<dict>
		<key>id</key>
		<string>509</string>
		<key>title</key>
		<string></string>
		<key>cover_url</key>
		<string></string>
		<key>download_url</key>
		<string>style10</string>
	</dict>
	<dict>
		<key>id</key>
		<string>510</string>
		<key>title</key>
		<string></string>
		<key>cover_url</key>
		<string></string>
		<key>download_url</key>
		<string>style11</string>
	</dict>
	<dict>
		<key>id</key>
		<string>511</string>
		<key>title</key>
		<string></string>
		<key>cover_url</key>
		<string></string>
		<key>download_url</key>
		<string>style12</string>
	</dict>
</array>
</plist>
