<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>imageAttr</key>
	<dict>
		<key>sym_keyboard_done</key>
		<string>images/sym_keyboard_done@2x.png</string>
		<key>sym_keyboard_return</key>
		<string>images/sym_keyboard_return@2x.png</string>
		<key>sym_keyboard_search</key>
		<string>images/sym_keyboard_search@2x.png</string>
		<key>sym_keyboard_send</key>
		<string>images/sym_keyboard_send@2x.png</string>
		<key>sym_keyboard_go</key>
		<string>images/sym_keyboard_go@2x.png</string>
		<key>sym_keyboard_next</key>
		<string>images/sym_keyboard_next@2x.png</string>
		<key>sym_keyboard_previous</key>
		<string>images/sym_keyboard_previous@2x.png</string>
		<key>sym_keyboard_tab</key>
		<string>images/sym_keyboard_tab@2x.png</string>
		<key>letterKeyBackgroundImage</key>
		<string></string>
		<key>letterKeyHighlightBackgroundImage</key>
		<string></string>
		<key>letterKeyBackgroundColor</key>
		<string></string>
		<key>letterKeyHighlightBackgroundColor</key>
		<string></string>
		<key>functionalletterKeyBackgroundImage</key>
		<string></string>
		<key>functionalletterKeyBackgroundColor</key>
		<string></string>
		<key>functionalletterKeyHighlightBackgroundImage</key>
		<string></string>
		<key>functionalletterKeyHighlightBackgroundColor</key>
		<string></string>
		<key>spaceKeyBackgroundImage</key>
		<string></string>
		<key>spaceKeyHighlightBackgroundImage</key>
		<string></string>
		<key>spaceKeyBackgroundColor</key>
		<string></string>
		<key>spaceKeyHighlightBackgroundColor</key>
		<string></string>
		<key>keyboardBackgroundImage</key>
		<string></string>
		<key>keyboardBackgroundColor</key>
		<string></string>
		<key>backgroundImage</key>
		<string>images/whole_keyboard_background@2x.png</string>
		<key>backgroundColor</key>
		<string></string>
		<key>shiftKeyNormalBackgroundImage</key>
		<string>images/sym_keyboard_shift@2x.png</string>
		<key>shiftKeySelectedBackgroundImage</key>
		<string>images/sym_keyboard_shift_selected@2x.png</string>
		<key>shiftKeyLockedBackgroundImage</key>
		<string>images/sym_keyboard_shift_locked@2x.png</string>
		<key>delKeyBackgroundImage</key>
		<string>images/sym_keyboard_delete@2x.png</string>
		<key>delKeyHighlightBackgroundImage</key>
		<string>images/sym_keyboard_delete_press@2x.png</string>
		<key>btn_keyboard_skin</key>
		<string>images/btn_keyboard_skin@2x.png</string>
		<key>btn_keyboard_skin_highlight</key>
		<string></string>
		<key>sym_keyboard_smiley</key>
		<string>images/sym_keyboard_smiley@2x.png</string>
		<key>sym_keyboard_smiley_highlight</key>
		<string></string>
		<key>sym_keyboard_settings</key>
		<string>images/sym_keyboard_settings@2x.png</string>
		<key>sym_keyboard_settings_highlight</key>
		<string></string>
		<key>switchBtnBackgroundImage</key>
		<string>images/sym_keyboard_language_switch@2x.png</string>
		<key>switchBtnHighlightBackgroundImage</key>
		<string></string>
		<key>predictViewBackgroundImage</key>
		<string></string>
		<key>predictViewBackgroundColor</key>
		<string></string>
		<key>predictCellBackgroundImage</key>
		<string></string>
		<key>predictCellBackgroundColor</key>
		<string></string>
		<key>predictCellHighlightBackgroundImage</key>
		<string></string>
		<key>predictCellHighlightBackgroundColor</key>
		<string></string>
		<key>preInputViewBackgroundImage</key>
		<string></string>
		<key>preInputViewBackgroundColor</key>
		<string></string>
		<key>inputOptionViewBackgroundImage</key>
		<string></string>
		<key>inputOptionViewBackgroundColor</key>
		<string>#FFFFFF</string>
		<key>inputOptionCellBackgroundImage</key>
		<string></string>
		<key>inputOptionCellBackgroundColor</key>
		<string>#ffffff00</string>
		<key>inputOptionCellHighlightBackgroundImage</key>
		<string>images/keyboard_key_feedback_selected_bg@2x.9.png</string>
		<key>inputOptionCellHighlightBackgroundColor</key>
		<string></string>
		<key>iconTintColor</key>
		<string>#FFFFFF</string>
		<key>dismissButtonTintColor</key>
		<string>#FFFFFF</string>
	</dict>
	<key>viewAttr</key>
	<dict>
		<key>colorAutoCotrrct</key>
		<string>#FFFFFF</string>
		<key>colorSuggest</key>
		<string>#FFFFFF</string>
		<key>functionalHighlightTextColor</key>
		<string>#000000</string>
		<key>functionalKeyTextFont</key>
		<dict>
			<key>fontName</key>
			<string></string>
			<key>fontSize</key>
			<string>15</string>
		</dict>
		<key>functionalTextColor</key>
		<string>#FFFFFF</string>
		<key>inputOptionCellHighlightPadding_land</key>
		<dict>
			<key>bottom</key>
			<integer>0</integer>
			<key>left</key>
			<integer>0</integer>
			<key>right</key>
			<integer>0</integer>
			<key>top</key>
			<integer>0</integer>
		</dict>
		<key>inputOptionCellHighlightPadding_land_ipad</key>
		<dict>
			<key>bottom</key>
			<integer>0</integer>
			<key>left</key>
			<integer>0</integer>
			<key>right</key>
			<integer>0</integer>
			<key>top</key>
			<integer>0</integer>
		</dict>
		<key>inputOptionCellHighlightPadding_port</key>
		<dict>
			<key>bottom</key>
			<integer>0</integer>
			<key>left</key>
			<integer>0</integer>
			<key>right</key>
			<integer>0</integer>
			<key>top</key>
			<integer>0</integer>
		</dict>
		<key>inputOptionCellHighlightPadding_port_ipad</key>
		<dict>
			<key>bottom</key>
			<integer>0</integer>
			<key>left</key>
			<integer>0</integer>
			<key>right</key>
			<integer>0</integer>
			<key>top</key>
			<integer>0</integer>
		</dict>
		<key>inputOptionCellHighlightTextColor</key>
		<string>#000000</string>
		<key>inputOptionCellHighlightTextFont</key>
		<dict>
			<key>fontName</key>
			<string></string>
			<key>fontSize</key>
			<string>24</string>
		</dict>
		<key>inputOptionCellPadding_land</key>
		<dict>
			<key>bottom</key>
			<integer>18</integer>
			<key>left</key>
			<integer>14</integer>
			<key>right</key>
			<integer>14</integer>
			<key>top</key>
			<integer>0</integer>
		</dict>
		<key>inputOptionCellPadding_land_ipad</key>
		<dict>
			<key>bottom</key>
			<integer>18</integer>
			<key>left</key>
			<integer>14</integer>
			<key>right</key>
			<integer>14</integer>
			<key>top</key>
			<integer>0</integer>
		</dict>
		<key>inputOptionCellPadding_port</key>
		<dict>
			<key>bottom</key>
			<integer>18</integer>
			<key>left</key>
			<integer>14</integer>
			<key>right</key>
			<integer>14</integer>
			<key>top</key>
			<integer>0</integer>
		</dict>
		<key>inputOptionCellPadding_port_ipad</key>
		<dict>
			<key>bottom</key>
			<integer>18</integer>
			<key>left</key>
			<integer>14</integer>
			<key>right</key>
			<integer>14</integer>
			<key>top</key>
			<integer>0</integer>
		</dict>
		<key>inputOptionCellShadowColor</key>
		<string></string>
		<key>inputOptionCellTextColor</key>
		<string>#000000</string>
		<key>inputOptionCellTextFont</key>
		<dict>
			<key>fontName</key>
			<string></string>
			<key>fontSize</key>
			<string>22</string>
		</dict>
		<key>keyButtonHeight_land</key>
		<real>0.08400000000000001</real>
		<key>keyButtonHeight_land_ipad</key>
		<real>0.0722</real>
		<key>keyButtonHeight_port</key>
		<real>0.07000000000000001</real>
		<key>keyButtonHeight_port_ipad</key>
		<real>0.041</real>
		<key>keyButtonHintPadding_land</key>
		<dict>
			<key>right</key>
			<integer>-2</integer>
			<key>top</key>
			<integer>2</integer>
		</dict>
		<key>keyButtonHintPadding_land_ipad</key>
		<dict>
			<key>right</key>
			<integer>-2</integer>
			<key>top</key>
			<integer>2</integer>
		</dict>
		<key>keyButtonHintPadding_port</key>
		<dict>
			<key>right</key>
			<integer>-2</integer>
			<key>top</key>
			<integer>2</integer>
		</dict>
		<key>keyButtonHintPadding_port_ipad</key>
		<dict>
			<key>right</key>
			<integer>-2</integer>
			<key>top</key>
			<integer>2</integer>
		</dict>
		<key>keyButtonMargin_land</key>
		<real>0.0172</real>
		<key>keyButtonMargin_land_ipad</key>
		<real>0.0122</real>
		<key>keyButtonMargin_port</key>
		<real>0.013</real>
		<key>keyButtonMargin_port_ipad</key>
		<real>0.0126</real>
		<key>keyButtonOffset_land</key>
		<dict>
			<key>centerX_offset</key>
			<integer>0</integer>
			<key>centerY_offset</key>
			<integer>0</integer>
		</dict>
		<key>keyButtonOffset_land_ipad</key>
		<dict>
			<key>centerX_offset</key>
			<integer>0</integer>
			<key>centerY_offset</key>
			<integer>0</integer>
		</dict>
		<key>keyButtonOffset_port</key>
		<dict>
			<key>centerX_offset</key>
			<integer>0</integer>
			<key>centerY_offset</key>
			<integer>0</integer>
		</dict>
		<key>keyButtonOffset_port_ipad</key>
		<dict>
			<key>centerX_offset</key>
			<integer>0</integer>
			<key>centerY_offset</key>
			<integer>0</integer>
		</dict>
		<key>keyHighlightTextColor</key>
		<string>#FFFFFF</string>
		<key>keyHighlightTextFont</key>
		<dict>
			<key>fontName</key>
			<string></string>
			<key>fontSize</key>
			<string>20</string>
		</dict>
		<key>keyHintLetterColor</key>
		<string>#FFFFFF</string>
		<key>keyHintLetterFont</key>
		<dict>
			<key>fontName</key>
			<string></string>
			<key>fontSize</key>
			<string>9</string>
		</dict>
		<key>keyTextColor</key>
		<string>#FFFFFF</string>
		<key>keyTextFont</key>
		<dict>
			<key>fontName</key>
			<string></string>
			<key>fontSize</key>
			<string>22</string>
		</dict>
		<key>keyboardBottomPadding_land</key>
		<real>0.0186</real>
		<key>keyboardBottomPadding_land_ipad</key>
		<real>0.0149</real>
		<key>keyboardBottomPadding_port</key>
		<real>0.008</real>
		<key>keyboardBottomPadding_port_ipad</key>
		<real>0.01</real>
		<key>keyboardHeightRatio_land</key>
		<real>0.44</real>
		<key>keyboardHeightRatio_land_ipad</key>
		<real>0.3867</real>
		<key>keyboardHeightRatio_port</key>
		<real>0.333</real>
		<key>keyboardHeightRatio_port_ipad</key>
		<real>0.21875</real>
		<key>keyboardTopPadding_land</key>
		<real>0.015</real>
		<key>keyboardTopPadding_land_ipad</key>
		<real>0.0195</real>
		<key>keyboardTopPadding_port</key>
		<real>0.008</real>
		<key>keyboardTopPadding_port_ipad</key>
		<real>0.01</real>
		<key>preInputTextColor</key>
		<string>#FFFFFF</string>
		<key>preInputTextFont</key>
		<dict>
			<key>fontName</key>
			<string></string>
			<key>fontSize</key>
			<string>28</string>
		</dict>
		<key>preInputViewHeightRatio_land</key>
		<real>1.2</real>
		<key>preInputViewHeightRatio_land_ipad</key>
		<real>1.2</real>
		<key>preInputViewHeightRatio_port</key>
		<real>1.2</real>
		<key>preInputViewHeightRatio_port_ipad</key>
		<real>1.2</real>
		<key>preInputViewLabelPadding_land</key>
		<dict>
			<key>bottom</key>
			<integer>18</integer>
			<key>left</key>
			<integer>0</integer>
			<key>right</key>
			<integer>0</integer>
			<key>top</key>
			<integer>0</integer>
		</dict>
		<key>preInputViewLabelPadding_land_ipad</key>
		<dict>
			<key>bottom</key>
			<integer>18</integer>
			<key>left</key>
			<integer>0</integer>
			<key>right</key>
			<integer>0</integer>
			<key>top</key>
			<integer>0</integer>
		</dict>
		<key>preInputViewLabelPadding_port</key>
		<dict>
			<key>bottom</key>
			<integer>18</integer>
			<key>left</key>
			<integer>0</integer>
			<key>right</key>
			<integer>0</integer>
			<key>top</key>
			<integer>0</integer>
		</dict>
		<key>preInputViewLabelPadding_port_ipad</key>
		<dict>
			<key>bottom</key>
			<integer>18</integer>
			<key>left</key>
			<integer>0</integer>
			<key>right</key>
			<integer>0</integer>
			<key>top</key>
			<integer>0</integer>
		</dict>
		<key>preInputViewWidthRatio_land</key>
		<real>1.4</real>
		<key>preInputViewWidthRatio_land_ipad</key>
		<real>1.4</real>
		<key>preInputViewWidthRatio_port</key>
		<real>1.4</real>
		<key>preInputViewWidthRatio_port_ipad</key>
		<real>1.4</real>
		<key>predictCellEmphasizeHighlightTextColor</key>
		<string></string>
		<key>predictCellEmphasizeHighlightTextFont</key>
		<dict>
			<key>fontName</key>
			<string></string>
			<key>fontSize</key>
			<string>18</string>
		</dict>
		<key>predictCellEmphasizeTextFont</key>
		<dict>
			<key>fontName</key>
			<string></string>
			<key>fontSize</key>
			<string>16</string>
		</dict>
		<key>predictCellHighlightTextColor</key>
		<string></string>
		<key>predictCellHighlightTextFont</key>
		<dict>
			<key>fontName</key>
			<string></string>
			<key>fontSize</key>
			<string>18</string>
		</dict>
		<key>predictCellTextFont</key>
		<dict>
			<key>fontName</key>
			<string></string>
			<key>fontSize</key>
			<string>16</string>
		</dict>
		<key>spaceHighlightKeyFont</key>
		<dict>
			<key>fontName</key>
			<string></string>
			<key>fontSize</key>
			<string>20</string>
		</dict>
		<key>spaceKeyFont</key>
		<dict>
			<key>fontName</key>
			<string></string>
			<key>fontSize</key>
			<string>18</string>
		</dict>
		<key>spaceKeyHighlightTextColor</key>
		<string>#FFFFFF</string>
		<key>spaceTextColor</key>
		<string>#FFFFFF</string>
		<key>toolbarHeightRatio_land</key>
		<real>0.096</real>
		<key>toolbarHeightRatio_land_ipad</key>
		<real>0.0794</real>
		<key>toolbarHeightRatio_port</key>
		<real>0.0625</real>
		<key>toolbarHeightRatio_port_ipad</key>
		<real>0.0586</real>
	</dict>
	<key>animate</key>
	<dict>
		<key>type</key>
		<string>dropdown</string>
		<key>hidekey</key>
		<false/>
	</dict>
	<key>sound</key>
	<dict>
		<key>default</key>
		<string>sounds/sound_default.wav</string>
		<key>space</key>
		<string>sounds/sound_space.wav</string>
		<key>returntype</key>
		<string>sounds/sound_enter.wav</string>
		<key>delete</key>
		<string>sounds/sound_delete.wav</string>
	</dict>
</dict>
</plist>
