<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>imageAttr</key>
	<dict>
		<key>sym_keyboard_done</key>
		<string>dt_sym_keyboard_done</string>
		<key>sym_keyboard_return</key>
		<string>dt_sym_keyboard_return</string>
		<key>sym_keyboard_search</key>
		<string>dt_sym_keyboard_search</string>
		<key>sym_keyboard_send</key>
		<string>dt_sym_keyboard_send</string>
		<key>sym_keyboard_go</key>
		<string>dt_sym_keyboard_go</string>
		<key>sym_keyboard_next</key>
		<string>dt_sym_keyboard_next</string>
		<key>sym_keyboard_previous</key>
		<string>dt_sym_keyboard_previous</string>
		<key>sym_keyboard_tab</key>
		<string>dt_sym_keyboard_tab</string>
		<key>letterKeyBackgroundImage</key>
		<string></string>
		<key>letterKeyHighlightBackgroundImage</key>
		<string></string>
		<key>letterKeyBackgroundColor</key>
		<string></string>
		<key>letterKeyHighlightBackgroundColor</key>
		<string></string>
		<key>functionalletterKeyBackgroundImage</key>
		<string></string>
		<key>functionalletterKeyBackgroundColor</key>
		<string></string>
		<key>functionalletterKeyHighlightBackgroundImage</key>
		<string></string>
		<key>functionalletterKeyHighlightBackgroundColor</key>
		<string></string>
		<key>spaceKeyBackgroundImage</key>
		<string>dt_btn_keyboard_key_spacebar.9</string>
		<key>spaceKeyHighlightBackgroundImage</key>
		<string>dt_btn_keyboard_key_spacebar_press.9</string>
		<key>spaceKeyBackgroundColor</key>
		<string></string>
		<key>spaceKeyHighlightBackgroundColor</key>
		<string></string>
		<key>keyboardBackgroundImage</key>
		<string></string>
		<key>keyboardBackgroundColor</key>
		<string></string>
		<key>backgroundImage</key>
		<string></string>
		<key>backgroundColor</key>
		<string>#090519ff</string>
		<key>shiftKeyNormalBackgroundImage</key>
		<string>dt_sym_keyboard_shift</string>
		<key>shiftKeySelectedBackgroundImage</key>
		<string>dt_sym_keyboard_shift_selected</string>
		<key>shiftKeyLockedBackgroundImage</key>
		<string>dt_sym_keyboard_shift_locked</string>
		<key>delKeyBackgroundImage</key>
		<string>dt_sym_keyboard_delete</string>
		<key>delKeyHighlightBackgroundImage</key>
		<string>dt_sym_keyboard_delete_press</string>
		<key>btn_keyboard_skin</key>
		<string>dt_btn_keyboard_skin</string>
		<key>btn_keyboard_skin_highlight</key>
		<string></string>
		<key>sym_keyboard_smiley</key>
		<string>dt_sym_keyboard_smiley</string>
		<key>sym_keyboard_smiley_highlight</key>
		<string></string>
		<key>sym_keyboard_settings</key>
		<string>dt_sym_keyboard_settings</string>
		<key>sym_keyboard_settings_highlight</key>
		<string></string>
		<key>switchBtnBackgroundImage</key>
		<string>dt_sym_keyboard_language_switch</string>
		<key>switchBtnHighlightBackgroundImage</key>
		<string></string>
		<key>predictViewBackgroundImage</key>
		<string></string>
		<key>predictViewBackgroundColor</key>
		<string></string>
		<key>predictCellBackgroundImage</key>
		<string></string>
		<key>predictCellBackgroundColor</key>
		<string>#ffffff00</string>
		<key>predictCellHighlightBackgroundImage</key>
		<string></string>
		<key>predictCellHighlightBackgroundColor</key>
		<string>#EEEEEE</string>
		<key>preInputViewBackgroundImage</key>
		<string>dt_keyboard_key_preInputView_feedback_background.9</string>
		<key>preInputViewBackgroundColor</key>
		<string></string>
		<key>inputOptionViewBackgroundImage</key>
		<string>dt_keyboard_key_feedback_background.9</string>
		<key>inputOptionViewBackgroundColor</key>
		<string></string>
		<key>inputOptionCellBackgroundImage</key>
		<string></string>
		<key>inputOptionCellBackgroundColor</key>
		<string>#ffffff00</string>
		<key>inputOptionCellHighlightBackgroundImage</key>
		<string></string>
		<key>inputOptionCellHighlightBackgroundColor</key>
		<string></string>
		<key>iconTintColor</key>
		<string>#70FCFE</string>
		<key>dismissButtonTintColor</key>
		<string>#70FCFE</string>
		<key>settingViewBackgroundColor</key>
		<string></string>
		<key>settingCellTintColor</key>
		<string>#70FCFE</string>
	</dict>
	<key>viewAttr</key>
	<dict>
		<key>keyTextColor</key>
		<string>#FFFFFF</string>
		<key>keyHighlightTextColor</key>
		<string>#00FFE4</string>
		<key>functionalTextColor</key>
		<string>#FFFFFF</string>
		<key>functionalHighlightTextColor</key>
		<string>#FFFFFF</string>
		<key>keyHintLetterColor</key>
		<string>#70FCFE</string>
		<key>keyTextFontName</key>
		<string></string>
		<key>spaceTextColor</key>
		<string>#FFFFFF</string>
		<key>spaceKeyHighlightTextColor</key>
		<string>#EEEEEE</string>
		<key>colorSuggest</key>
		<string>#FFFFFF</string>
		<key>colorAutoCotrrct</key>
		<string>#00FFE4</string>
		<key>predictCellHighlightTextColor</key>
		<string>#EEEEEE</string>
		<key>predictCellEmphasizeHighlightTextColor</key>
		<string>#00FFE4</string>
		<key>preInputTextColor</key>
		<string>#00FFE4</string>
		<key>inputOptionCellShadowColor</key>
		<string></string>
		<key>inputOptionCellTextColor</key>
		<string>#FFFFFF</string>
		<key>inputOptionCellHighlightTextColor</key>
		<string>#00FFE4</string>
	</dict>
	<key>animate</key>
	<dict>
		<key>type</key>
		<string>dropdown</string>
		<key>hidekey</key>
		<false/>
	</dict>
	<key>sound</key>
	<dict>
		<key>default</key>
		<string>dt_sound_default</string>
		<key>space</key>
		<string>dt_sound_space</string>
		<key>returntype</key>
		<string>dt_sound_enter</string>
		<key>delete</key>
		<string>dt_sound_delete</string>
	</dict>
</dict>
</plist>
